html, body {
    margin: 0;
    height: 100%;
    width: 100%;
  }

body {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 1.25em;
    height: 100%;
}

.flex-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
    align-content: center;
    margin: auto;
    justify-content: space-between;
  }
  
  
/* ----- header ----- */

header,
footer {
    height: 100px;
    width: 100%;
    background: gray;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
}

/* ----- content ------ */

main {
    height: 100%;
    width: 100%;
    align-content: center;
    display: flex;
    justify-content: center;
    align-items: center;
    
  }

.flex-items {
    width: 100%;
    height: 500px;
    float: left;
    display: flex;
    justify-content: center;
    align-content: center;
    line-height: 1.5em;
    font-size: 1.6em;
    align-items: center;
}

#div-1,
#div-2,
#div-3, 
#div-4 {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: flex-end;
  
  
}

#div-1 {
    background-color: aqua;
}
#div-2 {
    background-color: darkred;
}
#div-3 {
    background-color: hotpink;
}
#div-4 {
    background-color: lawngreen;
}

footer {
    width: 100%;
    height: 100px;
    background: #e3e3e3;
    display: flex;
    justify-content: center;
    align-items: center;
  }

 /*------------- @media queries ------------*/

 /*----- TABLET -----*/
 
@media (min-width: 768px) {

    header {
      background-color: #D6858F;
    }

    #div-1 {
        background-color: #1F0E2A;
        width: 50%;
        
    }

    #div-2 {
        background-color: mediumslateblue;
        width: 50%;
    }

    #div-3 {
        background-color: saddlebrown;
    }

    #div-4 {
        background-color: skyblue;
    }

    footer {
        background-color: thistle;
    }
}

/*-----DESKTOP-----*/


@media (min-width: 1200px) {
    header {
        background-color: green;
    }

    #div-1 {
        background-color: crimson;
        width: 70%;
        
    }

    #div-2 {
        background-color: palegoldenrod;
        width: 30%;
        
        
    }

    #div-3 {
        background-color: olive;
        width: 50%;
    }

    #div-4 {
        background-color: goldenrod;
        width: 50%;
    }

    footer {
        background-color: violet;
    }
}